.other-heads-bg {
    background: url('../img/search-result/bg\ \(12\).png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: #123984;
    background-color: #EDEDED !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #123984 !important;
}

.ac-car-active {
    background-color: #e9f2ff;
}

.ac-car-non-active {
    background-color: #FAFAFA;
}

.conf-icon {
    height: 15px;
    width: 15px;
}

.rrr {
    background: url('../img/search-result/Group\ 35353\ \(1\).png');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.r2dc-non-active-card-bg {
    background-color: #fafafa;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.r2dc-non-active-card-content-bg {
    background-color: #f0f0f0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
